@model MVC.Models.ResetPasswordModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span> Change Password</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Please enter your current password" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Please enter your new password." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Please re-enter your new password." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Save</button>
                        <a class="btn btn-danger btn-block" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]'
            if (errorMessage != '')
                alertify.error(errorMessage);
        });       
    </script>
}